body
{
	background-color: #abf18e;
}
#about_denise
{
	margin-left: 10px;
}
#about_denise p
{
	font-size: 1.5em;
	width: 535px;
	text-align: justify;
	text-indent: 70px;
	margin-bottom: 10px;
}
/* aside begins =======================================
 * =================================
 */

