body
{
	background-color: #65b6f4;
}
#writing_s
{
	color: #;
	background-color: #65b6f4;

}
#writing_services ol
{	
	margin-left: 70px;
	font-size: 40px;
	margin-bottom: 15px;
	color: #65b6f4;
}
.level1 li
{
	font-size: .6em;
}
.level2 li
{
	list-style: lower-alpha;
	font-size: .65em;
	color: #000;
}
.level3 li
{
	list-style: lower-roman;
	font-size: .55em;
}